@import "_css3-mixins.scss";
body {
    padding: 0;
    margin: 0;
    font-family: "微軟正黑體", "Microsoft JhengHei", 'Lato', Verdana, Meiryo;
    font-size: 15px;
    color: #333;
    height:100%;
}

.resContainer{
    .resDocLayout{
        width:100%;
    }

    &#dHeader{
        background:#999;
        color:#fff;
        position:fixed;
        top:0;
        z-index: 1;
        #nav{
            float:right;
            top:-7px;
        }
    }

    &#dTorso{
        margin:50px 0 0 0;
        z-index: 0;
    }

    &#dFooter{
        background:#999;
        color:#fff;
        position:fixed;
        bottom:0;
        z-index: 1;
    }
}

/* view message style */
#chartArea{
    position:relative;
    #viewMessage{
        width:100%;
        background:#eee;
        clear:both;
        margin-bottom:15px;
        overflow:auto;

        .chtline{
            clear:both;
            float:none;
            .date{
                text-align: right;
                font-size:12px;
            }
            .sayfrom{
                padding:8px;
                background:#fff;
                margin-right: 10% !important;
                @include border-radius('10px');
                .date{
                    color:#aaa;
                }
            }

            .sayto{
                padding:8px;
                background:#ccc;
                margin-left: 10% !important;
                @include border-radius('10px');
                .date{
                    color:#666;
                }
            }
        }

    }
    #addMessage{
        position:relative;
        width:100%;
        height:150px;
        background:#ccc;
        clear:both;
        textarea{
            position:relative;
            left:0;
            margin:1%;
            width:calc(94% - 120px);
            height:125px;
        }
        .btn{
            position:absolute;
            right:0;
            top:0;
            display:table-cell;
            margin:1%;
            width:120px;
            height:120px;
            text-align: center;
            vertical-align: middle;
        }
    }
}

/* btn style */
.btn{
    display:inline-block;
    padding:5px 10px;
    border:1px solid #9E9E9E;
    margin:2px;
    @include background-gradient(#F5F5F5,#E1E1E1);
    text-decoration: none;
    color:#999;
    &:hover{
        @include background-gradient(#E1E1E1,#F5F5F5);
    }
}

.alert{
    color:#B92672;
}

#friendList{
    overflow:auto;
}

